<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Delivery</title>
    <link rel="shortcut icon" href="/foodify-logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="home_assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
    <link rel="stylesheet" href="home_assets/home_css/untitled.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="leaflet-routing-machine.css" />
</head>

<body>
<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom" style="color: rgb(194,74,74);background-color: rgb(255,255,255);">
    <div class="container"><a class="navbar-brand" href="/home"><img src="/foodify-logo.png" style="height: 40px; width:40px;"></a>

    </div>
</nav>
<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">Delivery</h1>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>
<section>
<div class="container">
    <div class="table-responsive border rounded-0 border-primary shadow-lg" style="margin: 20px 0px;border-style: dotted;">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="text-center">Food Item</th>
                <th class="text-center">Delivery</th>
            </tr>
            </thead>
            <tbody style="position: relative;>
            <%for(var i=0;i<docs.length;i++){%>
                    <tr style="position: relative;">
            <td class="text-center"><%=docs[i].name%></td>
            <input id="userLat<%=i%>" value="<%=userLat[i]%>" hidden>
            <input id="userLong<%=i%>" value="<%=userLong[i]%>" hidden>
            <input id="itemLat<%=i%>" value="<%=itemLat[i]%>" hidden>
            <input id="itemLong<%=i%>" value="<%=itemLong[i]%>" hidden>
            <%if(docs[i].active===false){%>
            <form method="post" action="/deliver">
                <input name="itemName" value="<%=docs[i].name%>" hidden>
                <input name="userName" value="<%=docs[i].userName%>" hidden>
            <td class="text-center"><button type="submit" class="btn btn-primary">Deliver</button></td>
            </form>
            <%}%>
            <%if(docs[i].active===true && docs[i].delivered===false){%>
            <form method="post" action="/delivered">
                <input name="itemName" value="<%=docs[i].name%>" hidden>
                <input name="userName" value="<%=docs[i].userName%>" hidden>
                <td class="text-center"><button type="submit" class="btn btn-secondary">Delivered</button></td>
            </form>
            <%}%>
            <%if(docs[i].active===true && docs[i].delivered===true){%>
                <td class="text-center">Delivered!</td>
            <%}%>
            </tr>
<!--            <tr>-->
<!--                <td>-->
<!--                    <div style="position: relative; width: 90%;height:250px;" class="container"><div class="map" id='map<%=i%>'></div>-->

<!--                    </div>-->
<!--                </td>-->
<!--            </tr>-->
            <%}%>
            <input id="num" value="<%=docs.length%>" hidden>
            </tbody>
        </table>
    </div>
</div>
</section>
<footer class="py-5 bg-black" style="padding-top: 30px;padding-bottom: 30px;">
    <div class="container">
        <p class="text-center text-white m-0 small">Made with <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="red" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
            </svg> by Jonathan</p>
    </div>
</footer>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
<script src="leaflet-routing-machine.js"></script>
<script type="text/javascript">
    $(document).on('click','.navbar-collapse',function(e) {
        if( $(e.target).is('a') ) {
            $(this).collapse('hide');
        }
    });

    // let map=[];
    // let routes=[];
    //
    // for(var i=0;i<$("#num")[0].value;i++) {
    //     map[i] = L.map('map' + i);
    //
    //     L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1Ijoiam9lMmsiLCJhIjoiY2tmd2Y2bWdhMWM2YjMybHJzdWkwY2x5eSJ9.409NC2QpFQ1g5so0UMDuXQ', {
    //         attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    //         maxZoom: 18,
    //         id: 'mapbox/streets-v9',
    //         tileSize: 512,
    //         zoomOffset: -1,
    //         accessToken: 'pk.eyJ1Ijoiam9lMmsiLCJhIjoiY2tmd2Y2bWdhMWM2YjMybHJzdWkwY2x5eSJ9.409NC2QpFQ1g5so0UMDuXQ'
    //     }).addTo(map[i]);
    //
    //     routes[i]=L.Routing.control({
    //         waypoints: [
    //             L.latLng($("#userLat"+i)[0].value, $("#userLong"+i)[0].value),
    //             L.latLng($("#itemLat"+i)[0].value, $("#itemLong"+i)[0].value)
    //         ],
    //         createMarker: function() { return null; },
    //         routeWhileDragging: true,
    //         lineOptions: {styles:[{color: 'black', opacity: 0.15, weight: 10}, {color: 'white', opacity: 0.8, weight: 9}, {color: 'red', opacity: 1, weight: 5}]}
    //     }).addTo(map[i]);
    //
    //     var homeIcon = L.icon({
    //         iconUrl: '/home.png',
    //         iconSize: [28, 40],
    //
    //         popupAnchor: [-3, -76]
    //     });
    //     var shopIcon = L.icon({
    //         iconUrl: '/cooking.png',
    //         iconSize: [28, 40],
    //
    //         popupAnchor: [-3, -76]
    //     });
    //
    //     L.marker([$("#userLat"+i)[0].value, $("#userLong"+i)[0].value],{icon: homeIcon}).addTo(map[i]);
    //     L.marker([$("#itemLat"+i)[0].value, $("#itemLong"+i)[0].value],{icon: shopIcon}).addTo(map[i]);
    // }

    var getLocation=function (){
        //console.log("hi");
        navigator.geolocation.getCurrentPosition(position => {
           const lat=position.coords.latitude;
           const long=position.coords.longitude;
           //console.log(lat,long);
           const data={lat,long};
           const options ={
               method:"POST",
               headers: {
                   'Content-Type': 'application/json'
                   // 'Content-Type': 'application/x-www-form-urlencoded',
               },
               body:JSON.stringify(data)
           };
           fetch('/deliveryApi',options);
       });
    }

    getLocation();
    setInterval(() =>{
        getLocation();
    },2000);


</script>
</body>

</html>